<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>QRScan</string>
    <key>CFBundleDisplayName</key>
    <string>QRScan</string>
    <key>CFBundleIdentifier</key>
    <string>com.hexadecinull.qrscan.classic</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>QRScanClassic</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>QRScan needs camera access to scan QR codes.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>QRScan needs photo library access to scan QR codes from images.</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv6</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UIPrerenderedIcon</key>
    <false/>
</dict>
</plist>
